.last-package-update-day
.lsp-session-v1
.sync-exclude.lst
auto-save-list
diary
eln-cache
elpa
eshell
ido-*
ido.last
options-*
racket-mode
recentf-*
server
session.*
tramp
transient
tree-sitter
tutorial
url
viper
