# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
/.*.desktop
/.*.desktop.lock

*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


.last-package-update-day
.lsp-session-v1
.sync-exclude.lst
auto-save-list
diary
eln-cache
elpa
eshell
ido-*
ido.last
options-*
racket-mode
recentf-*
recentf
server
session.*
tramp
transient
tree-sitter
tutorial
url
viper
**/#.*#

/experminal-init.html
/lisp/kf-command.html
/bookmarks
/kkcrc
/projects
